body{
     background-color: #DFEEFB ;
     
}
.foxx::before {
  content: "";
  background-image: url('../img/Desktop\ -\ 6.png');
  opacity: 0.3;
  position: absolute;
  z-index: -1;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
  height: 100%;
  
}
.button {
  background-color: #CEE0ED;
  margin: 15px; 
  padding: 20px;
  border-radius: 3px;
  text-decoration: none;
  color: #3D6988;
  font-size: 32px ;
  border: 2px solid #5487CF;
  border-radius: 23px;
}
.marg-top{
  margin-top: 125px;
}